.dashboard {
    width: calc(100% - 40px) !important;

    background-color: white;
    margin: 20px;
    border-radius: 1em;
    overflow: hidden;
}

.series-layout {
    width: 100%;
    height: 70px;
    overflow: hidden;
}

.dashboard-separator {
    width: 100%;
    margin: 0;
    border-top: 3px solid var(--lumo-primary-color);
}

.series-layout p {
    font-weight: bold;
}

.competition-layout {
    /* border-bottom: 1px solid lightgray; */
}

@media screen and (max-width: 1400px) {
    .series-layout {
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .competition-layout {
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .button-layout {
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .links-layout {
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
}
